body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
    margin-left: 10px;
}

h1 {
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

.processed-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.processedImage {
    max-width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 ;
}

p {
    text-align: center;
}

.image_contain {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.container {
    margin-top: 100px;
    justify-content: center;
    gap: 20px;
}

.original {
    border-right: #333 1px solid;

}

.error-message {
    color: #ff0000; /* Màu đỏ nổi bật cho thông báo lỗi */
    background-color: #ffe6e6; /* Nền màu nhạt để làm thông báo dễ nhìn */
    border: 1px solid #ff0000; /* Đường viền đỏ đồng bộ với màu chữ */
    padding: 10px; /* Khoảng cách bên trong khối để văn bản không bị sát mép */
    border-radius: 5px; /* Bo góc để tạo cảm giác mềm mại */
    font-size: 16px; /* Kích thước font vừa phải */
    width: fit-content; /* Chiều rộng vừa đủ cho nội dung */
    margin: 10px auto; /* Khoảng cách giữa thông báo lỗi và các phần tử xung quanh */
}
